/*! CSS Document
 * reset.css
 * author Zheng Xu
 */
* {
  margin: 0;
  padding: 0; }

html {
  font-family: "Microsoft YaHei", "Helvetica", "sans-serif";
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  background: #fff;
  width: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

fieldset, iframe, abbr {
  border: 0; }

p, span {
  font-size: 1rem; }

ul, li {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, button {
  cursor: pointer;
  outline: 0; }

label {
  cursor: text; }

del, ins, u, s, a, a:hover, a:active {
  text-decoration: none;
  color: #333; }

i, city, em, var, address, dfn {
  font-style: normal; }

textarea {
  resize: none;
  overflow: hidden; }

.float-r {
  float: right; }

.float-l {
  float: left; }

.float-no {
  float: none; }

.border-r5 {
  padding: 5px 25px;
  margin-top: 10px; }

.martop-5 {
  margin: 15px;
  font-size: 1.28571em; }

.min-icon {
  background: index-icon url(png/no-repeat.); }

.animate {
  -webkit-box-shadow: 2px 3px 4px #dddddd;
  -o-box-shadow: 2px 3px 4px #dddddd;
  -moz-box-shadow: 2px 3px 4px #dddddd;
  -ms-box-shadow: 2px 3px 4px #dddddd;
  box-shadow: 2px 3px 4px #dddddd;
  -webkit-animation: all 0.5s ease-in-out;
  -moz-animation: all 0.5s ease-in-out;
  -o-animation: all 0.5s ease-in-out;
  -ms-animation: all 0.5s ease-in-out;
  animation: all 0.5s ease-in-out; }

.item-1 {
  width: 2em; }

.item-2 {
  width: 4em; }

.item-3 {
  width: 6em; }

.puma-icon {
  background-image: url("/images/puma.png"); }

.sea-slug-icon {
  background-image: url("/images/sea-slug.png"); }

.egret-icon {
  background-image: url("/images/egret.png"); }

.salamander-icon {
  background-image: url("/images/salamander.png"); }

@media screen and (max-width: 480px) {
  body {
    color: #0d3349; }

  .martop-5 {
    margin: 35px;
    font-size: 2.14286em; }

  p {
    color: #009926; } }
.cricle {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -o-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  transition: all 4s cubic-bezier(1, 0.01, 0.01, 1);
  -moz-transition: all 4s cubic-bezier(1, 0.01, 0.01, 1);
  -webkit-transition: all 4s cubic-bezier(1, 0.01, 0.01, 1);
  -o-transition: all 4s cubic-bezier(1, 0.01, 0.01, 1);
  border: 2px #C3DCE8 solid;
  background-image: -webkit-linear-gradient(to top, #1F319C, #C3DCE8);
  background-image: linear-gradient(to top, #1F319C, #C3DCE8);
  -webkit-box-shadow: 0 0 8px #000;
  -o-box-shadow: 0 0 8px #000;
  -moz-box-shadow: 0 0 8px #000;
  -ms-box-shadow: 0 0 8px #000;
  box-shadow: 0 0 8px #000; }

.cricle:hover {
  transform: rotate(7200deg);
  -ms-transform: rotate(7200deg);
  -moz-transform: rotate(7200deg);
  -webkit-transform: rotate(7200deg);
  -o-transform: rotate(7200deg); }

.bg-5 {
  border: 2px #AFBFCE solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 3px #ddd;
  -o-box-shadow: 1px 1px 3px #ddd;
  -moz-box-shadow: 1px 1px 3px #ddd;
  -ms-box-shadow: 1px 1px 3px #ddd;
  box-shadow: 1px 1px 3px #ddd;
  background: -webkit-linear-gradient(180deg, #FEFEFD, #DEE4E4);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(180deg, #FEFEFD, #DEE4E4);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(180deg, #FEFEFD, #DEE4E4);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(180deg, #FEFEFD, #DEE4E4); }

/*# sourceMappingURL=index.css.map */
